{% extends 'zkcluster/base.html' %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <form method="POST" action="{% url 'zkcluster:terminal_add' %}?connected=1">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            <span class="error">{{ field.errors.0 }}</span>
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('#id_name').focus();
  </script>
{% endblock %}
